<div class="credential-offer">
  <h1>Obtain credentials</h1>
  {{#each @credentialConfigurations}}
    <h2>{{this.label}}</h2>
  {{/each}}
  {{#if @error}}
  <div class="error">{{@error_description}}</div>
  {{else}}
  <div class="qrcode">
    <img src="{{@credentialOfferQrCode}}" />
  </div>
  <a class="button" href="{{{@credentialOfferUrl}}}">Get credential</a>
  {{/if}}
</div>
