<header><img class="logo" onclick="toggleConfigurations()" src="/img/wwwallet-logo.png" /></header>

<div class="supported-credential-configurations">
  {{#each @supportedCredentialConfigurations}}
  <a class="credential-configuration" href="/offer/{{this.scope}}">{{this.label}}</a>
  {{/each}}
</div>

<script>
function toggleConfigurations () {
  Array.prototype.forEach.call(
    document.getElementsByClassName("supported-credential-configurations"),
    (elt) => {
      if (elt.style.display === "block") {
        elt.style.display = "none"
      } else {
        elt.style.display = "block"
      }
    }
  )

}
</script>

<div class="main" onclick="hideConfigurations()">
  <div class="heading">
    <h1>Obtain your credential</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sodales accumsan cursus. Aenean elementum id ipsum sit amet consectetur. Donec purus tortor, viverra at iaculis vel, volutpat in ipsum. Nunc dapibus dolor mi, vel porta arcu eleifend in. Praesent non nisi lorem. Vestibulum malesuada sollicitudin porttitor.</p>
    <p>Donec a tincidunt quam. Sed eget augue sit amet dolor pharetra rutrum ac id arcu. Curabitur vestibulum sem ex, sed porttitor orci lacinia et. Etiam aliquam quam id rutrum consequat. Duis id diam velit. Quisque malesuada massa magna, in rhoncus orci varius quis. Sed quis tortor neque.</p>
  </div>
  <div class="credential-offer-overlay">
    <div class="credential-offer">
      <div class="title">
        {{#each @credentialConfigurations}}
          <h2>{{this.label}}</h2>
        {{/each}}
      </div>
      {{#if @error}}
      <h2 class="selection">Select a credential</h2>
      {{else}}
      <div class="qrcode">
        <img src="{{{@credentialOfferQrCode}}}" />
      </div>
      <a class="button fluid" href="{{{@credentialOfferUrl}}}">Get credential</a>
      {{/if}}
    </div>
  </div>
</div>

<script>
function hideConfigurations () {
  Array.prototype.forEach.call(
    document.getElementsByClassName("supported-credential-configurations"),
    (elt) => {
      elt.style.display = "none"
    }
  )

}
</script>
